html {
    box-sizing: border-box;
  }

  .formlabel {
    display: inline-block;
    width: 400px;
    text-align: left;
    padding: 5px;
    font-weight: bold;
  
}

label, input{
  float:left;
  margin:1px;
}

label{
  clear:both;
  display:block 
}

select{
  clear:both;
  display:block;
}

textarea{
  clear:both;
}


.error {
  color: red;
  padding-left: 5px;
}
