html {
    box-sizing: border-box;
  }

  .formlabel {
    display: inline-block;
    width: 400px;
    text-align: left;
    padding: 5px;
    font-weight: bold;

}

.error {
  color: red;
  padding-left: 5px;
}
