/*color

606C38 
283618
FEFAE0
DDA15E
BC6C25

*/


html {
    box-sizing: border-box;
  } 
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }
  
  main{
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, [row] auto  );  
  margin:auto;  
  padding:20px;  
  gap:20px;
  background-color: #FEFAE0;
  font-size: 100%;
  font-family: "Barlow";
  }
  

  /* Font */
   .barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
  }

  .barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
  }

  

  /* Header */

  header.primary{
    background-color: #606C38;
    padding:10px;
    grid-column: 1 / 8;
    grid-row: 1 / 2; 

    /* https://zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
    background-image: url("../img/logo.png");
    background-repeat: no-repeat ;
    background-size: 8%;
  }

  /* Nav */

  #nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #283618;
    display: flex;
    justify-content: space-evenly;
}

  li{
    float:left;
  }

  li a{
  display: block;
  color: #FEFAE0;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #606C38;
}
  


/* Images */

.container{
  grid-column: 1 / 8;
  grid-row: 2 / 3;
  margin:40px auto;
  width:70vw;
  max-width:700px;
}

img{
  max-width:100%;
}

.slick-autoplay-toggle-button {
  position: absolute;
  right: 5px;
  bottom: -32px;
  z-index: 10;
  opacity: .75;
  background: 0 0;
  border: 0;
  cursor: pointer;
  color: #000;
}

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}

/* Conent Wrapper*/

  #content{
    grid-column: 1 / 8;
    grid-row: 3/ 4;
    display:grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(3, [row] auto  );
  }

/* Primary Content */

  #blog{
    background: rgba(0, 0, 0, 0.6);
    grid-column: 1/6;
    grid-row: 1;
    
  }

/* Aside */
  #articles{
    grid-column: 6/8;
    grid-row: 1/3 ;
    
  }
  
/* Secondary Conent */

  #complementary{
    background: rgba(0, 0, 0, 0.3);
    grid-column: 1/6;
    grid-row: 2/3;
    
  }

/* Footer */
  
  footer.primary{
  background: rgba(0, 0, 0, 0.4);
  grid-column: 1 / 8;
  grid-row: 4/5;

  text-align: center;
  }

/* Media Queria */
@media screen and (max-width: 420px){ 
  main{
   grid-template-columns: 1fr;
  }
}